@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --font-inter: 'Inter', sans-serif;
  --font-mono: 'Roboto Mono', monospace;
}




@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}





div{
  padding: 0
}



@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6, .atma{
  font-family: 'Atma';
  font-weight: 700;
}

td, .bebas, button{
  font-family: 'Bebas Neue';
  font-weight: 400;
}

p, span {
  font-family: 'poppins';
}

a{
  font-family: 'Poppins';
}



:root {
  --font-bebas: 'Bebas Neue', sans-serif;
  --font-atma: 'Atma', cursive;
  --font-poppins: 'Poppins', sans-serif;
}

.font-bebas {
  font-family: var(--font-bebas);
}

.font-atma {
  font-family: var(--font-atma);
  font-weight: 700;
}

.font-poppins {
  font-family: var(--font-poppins);
}