@import "tailwindcss";


section{
  margin: 0;
  padding: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --font-inter: 'Inter', sans-serif;
  --font-mono: 'Roboto Mono', monospace;
}


html, body {
  overflow-x: hidden;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #cd8be7;
    --foreground: #ededed;
  }
}

body, main, section  {

  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 1vh;
  margin: 0;
  padding: 0;
}


div[style*="position: fixed"] {
  display: none !important;
}

div{
  padding: 0
}



@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}






:root {
  --font-bebas: 'Bebas Neue', sans-serif;
  --font-atma: 'Atma', Roboto;
  --font-poppins: 'Poppins', sans-serif;
}

.font-bebas {
  font-family: var(--font-bebas);
}

.font-atma {
  font-family: var(--font-atma);
  font-weight: 700;
}

.font-poppins {
  font-family: var(--font-poppins);
}



.color{
background-color: #8baae7;
}

header{
  margin:0;
  padding: 0;
}